<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hadam_ls9helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <hadam_ls9helper.Properties.Settings>
            <setting name="TargetProgramName" serializeAs="String">
                <value />
            </setting>
            <setting name="Key01" serializeAs="String">
                <value />
            </setting>
            <setting name="Key02" serializeAs="String">
                <value />
            </setting>
            <setting name="Key03" serializeAs="String">
                <value />
            </setting>
            <setting name="Key04" serializeAs="String">
                <value />
            </setting>
            <setting name="Key05" serializeAs="String">
                <value />
            </setting>
            <setting name="Key06" serializeAs="String">
                <value />
            </setting>
        </hadam_ls9helper.Properties.Settings>
    </userSettings>
</configuration>